// out: ./index.wxss, compress: true, sourceMap: false
// vscode 插件 easy wxless 将单个 less 文件编译成wxss文件的设置语句（设置语句一定放在文件最开头一行）

// 引入样式变量
@import '../../style/theme.less';
// 引入minxin
@import '../../style/mixins.less';

// 微信用户公开信息展示窗
.userInfoWrap {
  background-color: @bgColor-userInfoWrap;
  height: @height-userInfoWrap;
  line-height: @height-userInfoWrap;
  padding: 0 30rpx;
  margin: @gapSize-public;
  border-radius: @borderRadius-public;
  box-sizing: border-box;
  .inner-shadow-custom(0, 0, 0, 1px, @borderColor-base);
}

.userInfoAvatar {
  .square(floor(@height-userInfoWrap*0.7));
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  margin: 0 20rpx 0 0;
  box-sizing: border-box;
}

.userInfoNickname {
  display: inline-block;
  vertical-align: middle;
  font-size: @fontSize-base;
  line-height: @lineHeight-base;
  box-sizing: border-box;
}
