// out: ./bottomNav.wxss, compress: true, sourceMap: false
// vscode 插件 easy wxless 将单个 less 文件编译成wxss文件的设置语句（设置语句一定放在文件最开头一行）

// 引入样式变量
@import '../../style/theme.less';
// 引入minxin
@import '../../style/mixins.less';

.bottomNavWrap {
  box-sizing: border-box;
  position: fixed;
  bottom: -(@gapSize-public * 4 + @size-menuFunIcon);
  left: 0;
  right: 0;
  background-color: @bgColor-bottomNav;
  .transition(all,.3s,ease,0);
  // .border-radius(@borderRadius-public*3,@borderRadius-public*3,0,0);

  &.menuShow {
    bottom: 0;
  }

  .bottomNav {
    height: @height-bottomNav;
    display: flex;
    justify-content: space-between;

    .add {
      box-sizing: border-box;
      display: block;
      line-height: @height-bottomNav;
      text-align: center;
      width: 40%;

      > image {
        .square(@height-bottomNav/2);
        display: inline-block;
        vertical-align: middle;
        margin-right: @gapSize-public;
      }

      > span {
        color: rgba(255, 255, 255, 1);
        vertical-align: middle;
      }
    }
  }

  .bottomNavMenu {
    padding: @gapSize-public * 2;
    display: flex;
    justify-content: space-between;

    .menuFunIcon {
      box-sizing: border-box;
      text-align: center;
      .square(@size-menuFunIcon);
      line-height: @size-menuFunIcon;
      .rounded(@borderRadius-public);
      background-color: rgba(255,255,255,0.2);
      .transition(all,.3s,ease,0);

      .iconImage {
        .square(60%);
        vertical-align: middle;
        .transition(all,.1s,ease,0);
      }

      &:active {
        background-color: rgba(255,255,255,0.5);

        .iconImage {
          .square(70%);
        }
      }
    }
  }
}

.menuIcon {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  .rounded(50%);
  .square(80%);
  background-color: @bgColor-menuSwitch;
  border: 8rpx solid lighten(@color-secondary,100);

  // 开关中间的加号
  &:after,
  &:before {
    content: '';
    box-sizing: border-box;
    width: 70%;
    height: 10rpx;
    border-radius: 10rpx;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: lighten(@color-secondary,100);
  }

  &:before {
    transform: translate(-50%,-50%) rotate(45deg);
    opacity: 0;
  }

  &:after {
    transform: translate(-50%,-50%) rotate(-45deg);
    opacity: 0;
  }
}

.menuSwitch {
  position: absolute;
  top: -@size-menuSwitch/2;
  left: 50%;
  margin-left: -@size-menuSwitch/2;
  z-index: @zIndex-menuSwitch;
  .square(@size-menuSwitch);
  .rounded(50%);
  background-color: lighten(@bgColor-menuSwitch,20);
  box-shadow: 0 0 0 14rpx lighten(@color-secondary,100);

  // 触发开关的动画
  &.cancel {
    .animation-s(menuSwitch,.3s,ease,0);
    @keyframes menuSwitch {
      0% {
        transform: rotate(0deg);
        box-shadow: 0 0 0 0 rgba(245, 142, 120, 1);
      }
      100% {
        transform: rotate(180deg);
        background-color: rgba(241, 124, 107, 1);
        box-shadow: 0 0 0 70rpx rgba(245, 142, 120, 0);
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      .square(100%);
      .rounded(50%);
      box-shadow: 0 0 0 14rpx rgba(255, 255, 255, 1);
    }

    .menuIcon {
      .animation-s(menuIcon,.3s,ease,0);
      @keyframes menuIcon {
        100% {
          border-color: transparent;
          background-color: @domColor3;
        }
      }
    }

    .menuIcon:after,
    .menuIcon:before {
      .animation-s(menuIconOpac,.3s,ease,0);
      @keyframes menuIconOpac {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}



