// out: ./app.wxss, compress: true, sourceMap: false
// vscode 插件 easy wxless 将单个 less 文件编译成wxss文件的设置语句（设置语句一定放在文件最开头一行）

// 引入重置样式
@import './style/browser-style-reset.less';
// 引入工具样式
@import './style/utils.less';

html,
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
