@charset 'UTF-8';

//
// -------- 全局样式参数 --------
// -------- 全局参数命名规范：“属性名称 - 作用域”，如：@fontColor-default 尽量吧！！！语死早

// 通用色调
@domColor1: rgba(68, 146, 212, 1);
@domColor2: rgba(93, 211, 150, 1);
@domColor3: rgba(241, 141, 120, 1);
@domColor4: rgba(224, 145, 237, 1);
@domColor5: rgba(251, 106, 1, 1);
@domColor6: rgba(38, 47, 59, 1);
@domColor7: rgba(255, 255, 255, 1);

// app 主色调
// @color-primary: rgba(255, 100, 1, 1);
@color-primary: rgba(180, 22, 22, 1);
@color-secondary: rgba(255, 100, 1, 1);
@color-thirdly: rgba(38, 47, 59, 1);


// 基础字体尺寸
@fontSize-base: 28rpx;
  // 正文
  @fontSize-default: @fontSize-base;
  @fontSize-sub: 28rpx;
  // 标题
  @fontSize-header: floor(@fontSize-base * 1.6);
  // 标准字号
  @fontSize-largest: @fontSize-header;
  @fontSize-large: floor(@fontSize-base * 1.2);

// 公共圆角尺寸
@borderRadius-public: 10rpx;


// 公共间隔尺寸
@gapSize-public: 20rpx;


// 基础字符行高
@lineHeight-base: 1.6;


// 基础文本色调
@fontColor-base: rgba(102, 102, 102, 1);
  // 提示
  @fontColor-tips: rgba(153, 153, 153, 1);
  // 正文
  @fontColor-default: rgba(51, 51, 51, 1);
  // 明色调
  @fontColor-light: rgba(255, 255, 255, 1);
  // 暗色调
  @fontColor-dark: @fontColor-default;


// 基础背景色
@bgColor-base: rgba(255, 255, 255, 1);
  // 主要背景色
  @bgColor-primary: @bgColor-base;
  // 次要背景色
  @bgColor-secondary: rgba(245, 245, 245, 1);
  // 再次要一点的样色
  @bgColor-thirdly: lighten(@color-primary,58);


// 基础边框色
@borderColor-base: rgba(221, 221, 221, 1);


//
// -------- 各组件Z轴层级 --------
//
@zIndex-userInfoWrap: 1;
@zIndex-userInfo: 2;
@zIndex-indexSearcherWrap: @zIndex-userInfo;
@zIndex-currentLocation-list: 2;
@zIndex-typeBox-list: 1;
@zIndex-selectMenuMask-addPack: 1;
@zIndex-selectMenu-addPack: 2;
@zIndex-selectMenuTitle-addPack: 2;
@zIndex-selectMenuContent-addPack: 1;


//
// -------- 底部导航 --------
//
// color
@bgColor-bottomNavBtn: @color-thirdly;
// size
@height-bottomNav: 80rpx;


//
// -------- 通用表单样式 --------
//
// color
@bgColor-defaultFormControl: rgba(255, 255, 255, 1);
@fontColor-defaultFormControl: @fontColor-default;
@fontColor-defaultPlaceHolder: @fontColor-tips;
@bgColor-defaultFormValueClearIcon: rgb(153, 153, 153);
// size
@height-defaultFormControl: 110rpx;
@fontSize-defaultFormControl: @fontSize-large;
@size-defaultFormValueClearIcon: 46rpx;


//
// -------- 通用按钮样式 --------
//
// color
@color-primary-button: @color-primary;
@fontColor-primary-button: rgba(255, 255, 255, 1);
@color-primary-button: @color-primary;
@fontColor-secondary-button: rgba(255, 255, 255, 1);
@color-thirdly-button: @color-thirdly;
@fontColor-thirdly-button: rgba(255, 255, 255, 1);
// size
@borderRadius-button: @borderRadius-public;
@height-button: @height-defaultFormControl;
@fontSize-button: @fontSize-header;


//
// -------- 首页 --------
//
// color
@bgColor1-userInfoWrap: @color-primary;
@bgColor2-userInfoWrap: @color-primary;
@fontColor-userInfoWrap: @fontColor-light;
@bgColor-indexSearcher: darken(@bgColor-indexSearcherWrap,10);
@bgColor-indexSearcherWrap: @bgColor1-userInfoWrap;
@bgColor-indexPanel: @bgColor-base;
@bgColor-funIcon:  @bgColor-thirdly;
@bgColor-msgInIndex: @bgColor-base;
// size
@size-userInfoAvatar: 120rpx;
@height-input-indexSearcher: 70rpx;
@size-funIcon: 120rpx;


//
// -------- 改变地址页面 --------
//
// color
// size
@size-button-location: 80rpx;


//
// -------- 进入地点看收纳情况的搜索页 --------
//
// color
@bgColor-resultType: @bgColor-secondary;
@fontColor-typeBox: @fontColor-default;
@bgColor-currentLocation: @color-primary;
@fontColor-currentLocation: lighten(@color-primary,50);
@bgColor-resultUnit: @bgColor-base;
@bgColor-ruPackImg: @bgColor-resultUnit;
// size
@height-typeBox: 100rpx;
@fontSize-typeBox: @fontSize-large;
@fontSize-ruPackName: @fontSize-large;
@fontSize-currentLocation: @fontSize-large;
@size-ruPackImg: 150rpx;
@size-ruPackNameIcon: 50rpx;
@size-ruPackDetailIcon: @size-ruPackNameIcon;
@height-currentLocation: @height-bottomNav;


//
// -------- 添加收纳点页面 --------
//
// color
@bgColor-selectMenuMask-addPack: rgba(0, 0, 0, 0.4);
@bgColor-selectMenu-addPack: @bgColor-primary;
// size
@height-selectMenuTitle-addPack: 80rpx;
